
<h1>Ajouter un jeu</h1>

<form>

    <div class="row">

        <div class="col-12">
            <label class="form-label">Name</label>
            <input class="form-control" type="text" name="Name" />
        </div>

        <div class="col-12">
            <label class="form-label">Description</label>
            <textarea class="form-control" name="Description"></textarea>
        </div>

        <div class="col-12">
            <label class="form-label">Genres</label>
            <p>Not Implemented</p>
        </div>

        <div class="col-12 col-md-4">
            <label class="form-label">PEGI</label>
            <input class="form-control" type="text" name="PEGI" />
        </div>

        <div class="col-12 col-md-4">
            <label class="form-label">ReleaseYear</label>
            <input class="form-control" type="number" name="ReleaseYear" />
        </div>

        <div class="col-12 col-md-4">
            <label class="form-label">Price</label>
            <input class="form-control" type="text" name="Price" />
        </div>

        <div class="col-12">
            <label class="form-label">Image</label>
            <p>Not Implemented</p>
        </div>

    </div>

    <button type="submit" class="btn btn-primary">Ajouter</button>

</form>
